/* GENERAL */
body{
margin:0;
font-family:Arial, sans-serif;
background:#ddd;
}

/* CONTENEDOR */
.container{
display:flex;
height:100vh;
}

/* IZQUIERDA */
.izquierda{
width:50%;
background:#00312d;
color:white;
text-align:center;
padding:40px;
}

/* TEXTO */
.titulo{
font-size:28px;
margin-bottom:10px;
}

.descripcion{
font-size:14px;
color:#ddd;
}

/* IMAGEN */
.imagen{
width:80%;
margin-top:30px;
border-radius:10px;
box-shadow:0px 5px 10px rgba(0,0,0,0.3);
}

/* DERECHA */
.derecha{
width:50%;
background:#eafde7;
padding:40px;
}

/* TITULO FORM */
.subtitulo{
text-align:center;
margin-bottom:20px;
}

/* FORMULARIO */
.formulario{
display:flex;
flex-direction:column;
}

/* INPUTS */
.input{
margin-top:10px;
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

/* BOTON */
.btn{
margin-top:15px;
padding:10px;
background:#00312d;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
transition:0.3s;
}

html, body{
height:100%;
margin:0;
display:flex;
flex-direction:column;
}

.container{
flex:1;
}
.footer{
background:#00312d;
color:white;
text-align:center;
padding:15px;
font-size:14px;
}

.lg{
width:120px;
margin-bottom:10px;
}

.btn:hover{
background:#bff102;
transform:scale(1.05);
}